@font-face {
	font-family: 'MuseoSans';
	src: url('font/MuseoSans.otf');
	src: url('font/MuseoSans.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'UbuntuRegular';
	src: url('font/Ubuntu-Regular.ttf');
	src: url('font/Ubuntu-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MuseoSans-300';
	src: url('font/MuseoSans-300.otf');
	src: url('font/MuseoSans-300.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MuseoSans-700';
	src: url('font/MuseoSans-700.otf');
	src: url('font/MuseoSans-700.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Coolvetica';
	src: url('font/coolvetica-rg.ttf');
	src: url('font/coolvetica-rg.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MuseoSlabItalic';
	src: url('font/Museo_Slab_300italic.otf');
	src: url('font/Museo_Slab_300italic.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'UbuntuMedium';
	src: url('font/ubuntu-medium-webfont.eot');
	src: url('font/ubuntu-medium-webfont.eot?#iefix') format('embedded-opentype'),  url('font/ubuntu-medium-webfont.woff') format('woff'),  url('font/ubuntu-medium-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'CalibriRegular';
	src: url('fonts/calibri.eot');
	src: url('fonts/calibri.eot?#iefix') format('embedded-opentype'), url('fonts/calibri.ttf') format('truetype'), url('fonts/calibri.svg#CalibriRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: 'UbuntuMedium';
}
/* ##### REGION MENU ##### */

#block-system-main-menu h2 {
	display:none;
}
#region-branding .region-branding-inner {
	background-attachment: scroll;
	background-color: transparent;
	background-image: url("../images/sombra-menu.png");
	background-position: 11px bottom;
	background-repeat: no-repeat;
	background-size: 98% auto;
	margin: 0 auto;
	padding-bottom: 24px;
}
#block-system-main-menu {
	background: none repeat scroll 0 0 #333333;
	box-shadow: 0 0 4px 0 #333333;
}
#block-system-main-menu ul.menu {
	border-radius:6px 6px 6px 6px;
	-webkit-border-radius:6px 6px 6px 6px;
	-moz-border-radius:6px 6px 6px 6px;
}
#block-views-slideshow-index-block ul {
	list-style-type:none
}
#block-system-main-menu ul, ul li.leaf {
	list-style-type:none;
	list-style-image: none
}
ul.menu li {
	margin: 0;
}
li.expanded, li.collapsed, li.leaf {
	margin: 0;
	padding: 0;
}
#block-system-main-menu ul li {
	float: left;
	position: relative;
	list-style-type:none
}
#block-system-main-menu ul li.expanded {
	list-style-image: none;
	list-style-type: none;
}
#block-system-main-menu ul a {
	border-left: 1px solid #999999;
	border-right: 1px solid #000000;
	color: #FFFFFF;
	display: block;
	font-size: 13px;
	line-height: 45px;
	padding: 0 15px;
	position: relative;
	text-decoration: none;
	font-family:"UbuntuMedium";
}
#block-system-main-menu ul li.first {
	border-radius: 6px 0 0 6px;
	-webkit-border-radius:6px 0 0 6px;
	-moz-border-radius:6px 0 0 6px;
}
#block-system-main-menu ul ul a {
	line-height: 35px;
}
#block-system-main-menu ul li.first a {
	background: url("../images/home.png") no-repeat scroll center 14px transparent;
	display: block;
	overflow: hidden;
	text-align: center;
	text-indent: -9999px;
	width: 60px;
}
#block-system-main-menu ul ul li.first a {
	background:none;
	overflow: hidden;
	text-align: left;
	text-indent: 0;
	width: auto;
}
#block-system-main-menu .last a {
	border-bottom: 0 none;
	border-right: 0 none;
}
#block-system-main-menu ul ul {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0);
	left: -9999px;
	list-style: none outside none;
	padding: 10px;
	position: absolute;
}
#block-system-main-menu ul ul li {
	float: none;
	width: 100%;
}
#block-system-main-menu ul ul a {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color:transparent;
	border-style: none none solid;
	border-width: 0 0 1px;
	font-weight: normal;
	padding-left:45px
}
#block-system-main-menu ul li:hover ul {
	background: none repeat scroll 0 0 #F0F0F0;
	border-radius: 0 0 10px 10px;
	-webkit-border-radius:0 0 10px 10px;
	-moz-border-radius:0 0 10px 10px;
	box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
	display: block;
	left: 0;
	margin-left: 1px;
	width: 250px;
	z-index: -1;
	padding-left:0;
	padding-right:0
}
#block-system-main-menu ul li:hover {
	background: #494949; /* Old browsers */
	background: -moz-linear-gradient(top, #494949 0%, #494949 50%, #343434 50%, #343434 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #494949), color-stop(50%, #494949), color-stop(50%, #343434), color-stop(100%, #343434)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #494949 0%, #494949 50%, #343434 50%, #343434 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #494949 0%, #494949 50%, #343434 50%, #343434 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #494949 0%, #494949 50%, #343434 50%, #343434 100%); /* IE10+ */
	background: linear-gradient(top, #494949 0%, #494949 50%, #343434 50%, #343434 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#343434', GradientType=0 ); /* IE6-9 */
}
/*#block-system-main-menu ul li:hover ul li a {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #333333 !important;
}*/
#block-system-main-menu ul li:hover ul a {
	background:url("../images/flechas-menu-bits.png") no-repeat scroll 24px 12px transparent;
	text-decoration: none;
	color:#333 !important;
}
#block-system-main-menu ul li:hover ul li a:hover {
	background: url("../images/flechas-menu-bits.png") no-repeat scroll 24px -16px #333;
	color: #FFFFFF !important;
	box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
	border-color: -moz-use-text-color -moz-use-text-color #333;
}
/* ##### TERMINA REGION MENU ##### */

#block-block-1 .logo {
    background: url("../images/logo.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 36px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 131px;
}
#block-block-2 {
	margin-top:16px
}
li, ul, ol {
	list-style: none outside none;
}
#block-block-2 .telefonos {
	float: right;
	position: relative;
	z-index: 9;
}
#block-block-2 .telefonos li.first {
	background: url("../images/select.png") no-repeat scroll 0 0 transparent;
	border: medium none;
	cursor: pointer;
	font-size: 22px;
	overflow: hidden;
	padding: 6px 10px 8px 60px;
	width: 232px;
}
#block-block-2 .telefonos li {
	color: #000000;
	font-family: 'MuseoSans-700';
	list-style: none outside none;
}
#block-block-2 .telefonos li.first ul {
	left: 0;
	position: absolute;
	top: 40px;
}
#block-block-2 ul {
	margin: 0;
	padding: 0 0 0 20px;
}
#block-block-2 .telefonos li.first li {
	height: 0;
	overflow: hidden;
	padding: 0;
}
#block-block-2 .telefonos li.first:hover li {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 8px 8px 8px 8px;
	height: auto;
	padding: 5px 0 5px 57px;
	width: 242px;
}
.front #region-content #page-title {
	display:none;
}
#first-time {
	display:none;
}
/*#### SLAIDESHOW HOME ####*/
#block-views-slideshow-homepage-block {
	position:relative;
}
#views_slideshow_cycle_teaser_section_slideshow_homepage-block, .views-slideshow-cycle-main-frame-row {
	width:100% !important
}
#block-views-slideshow-homepage-block .block-title {
	display:none;
}
#views_slideshow_controls_text_previous_slideshow_homepage-block a, #views_slideshow_controls_text_next_slideshow_homepage-block a {
	background: url("../images/navegadores.jpg") no-repeat scroll left 0 transparent;
	cursor: pointer;
	display: block;
	height: 158px;
	position: absolute;
	text-indent: -9999px;
	top: 50px;
	width: 60px;
	z-index: 99;
}
#views_slideshow_controls_text_next_slideshow_homepage-block a {
	background-position: -70px 0;
	right: 0;
}
#views_slideshow_controls_text_previous_slideshow_homepage-block a:hover, #views_slideshow_controls_text_next_slideshow_homepage-block a:hover {
	opacity:0.7;
}
#views_slideshow_controls_text_pause_slideshow_homepage-block {
	display: none;
}
#block-views-slideshow-homepage-block .views-field-body h2 {
	border-bottom: 1px dotted #333333;
	color: #333333;
	font-family: "UbuntuRegular";
	font-size: 35px;
	font-style: italic;
	font-weight: normal;
	letter-spacing: 1px;
	line-height: 36px;
	margin-bottom: 14px;
	padding-bottom: 17px;
}
#block-views-slideshow-homepage-block .views-field-body {
	float: left;
	margin-left: 100px;
	margin-top: 80px;
	width: 370px;
}
#block-views-slideshow-homepage-block .views-field-body h2 span {
	display:block;
	font-weight:bold;
}
#block-views-slideshow-homepage-block .views-field-body p {
	font-family: 'UbuntuMedium';
	font-size: 13px;
}
#block-views-slideshow-homepage-block .views-field-field-imagen-slideshow {
}
/*#### TERMINA SLAIDESHOW HOME ####*/

#block-block-3 h2 {
	font-family: 'UbuntuMedium';
	font-size: 19px;
	margin-bottom: 10px;
	margin-left: 40px;
	letter-spacing:1px;
}
#block-block-3 h1 {
	font-family: 'UbuntuMedium';
	font-size: 19px;
	margin-bottom: 10px;
	margin-left: 40px;
	letter-spacing:1px;
}
#block-block-4 .block-title {
	font-size: 29px;
	letter-spacing:1px;
	font-family: 'UbuntuMedium';
	font-style:italic;
	color:#333333;
}
#block-block-4 #column-1 h2 {
	font-size: 19px;
	letter-spacing:1px;
	color:#4D4D4D;
	font-family: 'UbuntuMedium';
}
#block-block-3 {
	margin-bottom:30px
}

.not-front #block-block-3 {
    margin-bottom: 0;
    padding-bottom: 30px;
}
#block-block-3 p {
	font-size: 12px;
	line-height: 1;
	margin: 0 auto 15px 40px;
	width: 222px;
}
#block-block-3 .imagen {
	margin-bottom: 18px;
}
#block-block-3 #column-1 {
    background: none repeat scroll 0 0 #F7F7F7;
    border: 8px solid #808080;
    border-radius: 8px 8px 8px 8px;
    float: left;
    height: 302px;
    margin-right: 32px;
    width: 276px;
}
#block-block-4 #column-1 {
	float: left;
	height: 370px;
	margin-right: 22px;
	width: 428px;
}
#block-block-4 #column-2 {
	border-bottom: 1px dotted #999999;
	float: left;
	height: 189px;
	margin-bottom: 21px;
	width: 486px;
}
#block-block-4 #column-2 h2 {
	color: #4D4D4D;
	float: left;
	font-size: 19px;
	line-height: 24px;
	margin-bottom: 10px;
	width: 257px;
	font-family: 'UbuntuMedium';
}
#block-block-4 #column-2 p {
	float: left;
	width: 256px;
	font-size: 12px;
	color:#666666;
}
#block-block-4 #column-3 h2 {
	color: #4D4D4D;
	float: left;
	font-size: 19px;
	line-height: 24px;
	margin-bottom: 10px;
	width: 257px;
	font-family: 'UbuntuMedium';
}
#block-block-4 #column-3 p {
	float: left;
	width: 256px;
	font-size: 12px;
	color:#666666;
}
#block-block-4 #column-3 {
	float: left;
	height: 315px;
	width: 490px;
}
#block-block-4 #column-1 .imagen {
	background: url("../images/imagen-noticias-1.png") no-repeat scroll -5px -1px transparent;
	width:400px;
	height:296px;
	display:block
}
#block-block-4 #column-2 .imagen {
	background: url("../images/imagen-noticias-2.png") no-repeat scroll -5px -1px transparent;
	width:222px;
	height:172px;
	display:block;
	float: left;
}
#block-block-4 #column-3 .imagen {
	background: url("../images/imagen-noticias-3.png") no-repeat scroll -5px -1px transparent;
	width:222px;
	height:172px;
	display:block;
	float: left;
}
#block-block-3 #column-2 {
    background: none repeat scroll 0 0 #F7F7F7;
	width:276px;
	height:302px;
	float: left;
	margin-right: 27px;
	border: 8px solid #B3B3B3;
	border-radius: 8px 8px 8px 8px;
}
#block-block-3 #column-3 {
    background: none repeat scroll 0 0 #F7F7F7;
	width:276px;
	height:302px;
	float: left;
	border: 8px solid #808080;
	border-radius: 8px 8px 8px 8px;
}
#block-block-3 #column-1 .imagen {
	background: url("../images/imagen-acerca-de.png") no-repeat scroll -5px -1px transparent;
	width:282px;
	height:160px;
	display:block
}
#block-block-3 #column-2 .imagen {
    background: url("../images/imagen-personas.png") no-repeat scroll -6px -4px transparent;
    display: block;
    height: 160px;
    width: 278px;
}
#block-block-3 #column-3 .imagen {
    background: url("../images/imagen-empresa.png") no-repeat scroll -6px -5px transparent;
    display: block;
    height: 160px;
    width: 277px;
}
#zone-user-wrapper, #zone-postscript-wrapper, #zone-content-wrapper, .not-front #zone-preface-wrapper {
	background:#F2F2F2;
}

#zone-postscript-wrapper, .not-front #zone-preface-wrapper {
	border-bottom:1px solid #CBCBCB;
}
#zone-footer-wrapper{
	border-top:1px solid #B2B2B2;
}
.not-front #zone-branding-wrapper{
	background:#F2F2F2;
}
.front #zone-branding-wrapper{
    background: url("../images/bg-menu.png") repeat-x scroll 0 -68px transparent;
}
#block-block-5 .col1 {
	float:left;
	width:41%;
	color:#FFFFFF
}
#block-block-5 {
    background: #4D4D4D;
    border: 6px solid #E6E6E6;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 2px 4px 0 #333333;
    padding: 20px;
    position: relative;
}
#block-block-5 .img {
    background: url("../images/mapa.png") no-repeat scroll -6px -6px transparent;
    float: left;
    height: 110px;
    margin-right: 16px;
    width: 158px;
}
#block-block-5 p {
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    line-height: 14px;
    width: 40%;
}
#block-block-5 .col2 h2 {
    color: #FFFFFF;
    float: left;
    font-family: 'UbuntuMedium';
    font-size: 16px;
    margin-bottom: 10px;
    width: 40%;
}
#block-block-5 .col1 {
    color: #FFFFFF;
    float: left;
    width: 54%;
}
#block-block-5 .col2 {
    float: left;
    overflow: hidden;
    width: 46%;
}
#block-block-5 h3 {
	color: white;
	display: block;
	font-size: 20px;
	margin-bottom: 3px;
	font-family: 'UbuntuMedium';
}
#block-block-5 .col1 img {
	float: left;
	padding: 5px;
}
.copyright{
	margin:0 auto;
	width:960px;
}
#credits {
    color: #333333;
    float: right;
    font-size: 11px;
    margin-right: 30px;
    text-align: right;
}
#credits a {
	color:#333;
}
#block-block-5 .clear-block {
	border-right: 2px solid #FFFFFF;
	height: 123px;
	margin: 0 12px;
	width: 386px;
}
#block-block-5 .imgse {
    list-style-type: none;
	margin:0
}
#block-block-5 .imgse li {
	float: left;
}

#block-block-5 .imgse li a{
    display: block;
    height: 52px;
    margin-right: 22px;
    text-decoration: none;
    width: 52px;
}

#block-block-5 .img1 a {
	background: url("../images/imagen1.png") no-repeat scroll 0 0px transparent;
}
#block-block-5 .img2 a {
    background: url("../images/imagen4.png") no-repeat scroll 6px 10px transparent;
}
#block-block-5 .img3 a {
    background: url("../images/imagen2.png") no-repeat scroll 4px 21px transparent;
}
#block-block-5 .img4 a {
   background: url("../images/imagen3.png") no-repeat scroll -8px 4px transparent;
    width: 70px !important;
}
#block-block-5 .img5 a {
    background: url("../images/imagen6.png") no-repeat scroll 2px 10px transparent;
}
#block-block-5 .img6 a {
    background: url("../images/imagen5.png") no-repeat scroll 6px 14px transparent;
}
#region-footer-first {
    margin-bottom: 10px;
    margin-top: 20px;
}
#region-footer-second {
	margin-bottom:10px
}
#breadcrumb {
	display:none;
}
/********************************** Formulario **********************************/
#region-sidebar-second {
	margin: 0;
	width: 310px;
}
#block-block-7 {
    background: url("../images/image-formulario_en.png") no-repeat scroll -6px 0 transparent;
    height: 288px;
    padding: 70px 28px 0 23px;
    position: relative;
    width: 254px;
}
#block-block-7 h2{
	display:none
}
#formulario input[type=text], #formulario select, #formulario .descripcion textarea, #contact-form input[type=text], #contact-form select, #contact-form .descripcion textarea {
	border: 1px solid #CCCCCC;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 0 4px 1px #CCCCCC;
	height: 24px;
	width: 124px;
}
.ie7 #formulario input[type=text] {
	height: 18px;
	width: 113px;
}
#formulario .half, #contact-form .half {
	float: left;
	margin-bottom: 10px;
	margin-right: 6px;
}
#contact-form .half {
	margin-bottom: 10px;
	margin-right: 20px;
}
#formulario .apellidos, #formulario .telefono, #formulario .ciudad, #formulario .mail, #formulario .descripcion, #contact-form .apellidos, #contact-form .telefono, #contact-form .ciudad, #contact-form .mail, #contact-form .descripcion {
	margin-right:0
}
#formulario .mail input, #formulario .descripcion textarea, #contact-form .mail input, #contact-form .descripcion textarea {
	width: 254px;
}
.ie7 #formulario .mail input, .ie7 #formulario .descripcion textarea {
	width: 244px;
}
#formulario .descripcion textarea {
	height:60px !important
}
#formulario input[type=submit] {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 0 0 18px 18px;
    bottom: 2px;
    height: 77px;
    left: 3px;
    overflow: hidden;
    position: absolute;
    text-indent: -999px;
    width: 295px;
}
#formulario input[type=submit]:hover {
	background: none repeat scroll 0 0 #FF6600;
	opacity: 0.2;
	filter:alpha(opacity=20);
}
/********************************** Fin Formulario **********************************/
#block-views-noticias-block {
    position: relative;
}
#block-views-noticias-block h2 {
	background: url("../images/titulo-noticias.png") no-repeat scroll right center transparent;
	color: #333333;
	font-family: "UbuntuRegular";
	font-size: 35px;
	font-style: italic;
	font-weight: normal;
}
#block-views-noticias-block h2 span {
	font-weight: bold;
}
#block-views-noticias-block .views-row-1 {
	float: left;
	height: 370px;
	margin-right: 22px;
	width: 428px;
}
#block-views-noticias-block .views-row-1 .views-field-field-imagen {
	background: url("../images/sombra-noticia-1.png") no-repeat scroll 0 bottom transparent;
	margin: 0 auto 10px;
	padding-bottom: 10px;
	width: 381px;
}
#block-views-noticias-block .views-row-1 img {
	border: 21px solid #E6E6E6;
	width: 339px;
}
#block-views-noticias-block .views-row-1 .views-field-title, #block-views-noticias-block .views-row-1 .views-field-body {
	margin-bottom: 10px;
	margin-left: 24px;
}
#block-views-noticias-block .views-row-1 .views-field-title a, #block-views-noticias-block .views-row-2 .views-field-title a, #block-views-noticias-block .views-row-3 .views-field-title a {
    color: blue;
    font-family: 'UbuntuMedium';
    font-size: 19px;
    letter-spacing: 0;
    text-decoration: underline;
}
#block-views-noticias-block .views-row a:hover {
	color:#005AA9
}
#block-views-noticias-block .views-row-2, #block-views-noticias-block .views-row-3 {
	border-bottom: 1px dashed #999999;
	float: left;
	height: 180px;
	margin-bottom: 21px;
	width: 486px;
}
#block-views-noticias-block .views-row-2 .views-field-field-imagen, #block-views-noticias-block .views-row-3 .views-field-field-imagen {
	background: url("../images/sombra-noticia-2.png") no-repeat scroll 0 bottom transparent;
	float: left;
	margin-right: 30px;
	padding-bottom: 6px;
}
#block-views-noticias-block .views-row-2 .views-field-field-imagen img, #block-views-noticias-block .views-row-3 .views-field-field-imagen img {
	border: 12px solid #E6E6E6;
	height: 115px;
	width: 184px;
}
#block-views-noticias-block .views-row-2 .views-field-title, #block-views-noticias-block .views-row-3 .views-field-title {
	margin-bottom: 10px;
}
#block-views-noticias-block .views-row-2 .views-field-title a, #block-views-noticias-block .views-row-3 .views-field-title a {
	line-height: 1;
}
#block-views-noticias-block .views-row-2 .views-field-body p, #block-views-noticias-block .views-row-3 .views-field-body p {
	font-size: 12px;
	line-height: 1;
}
#block-views-noticias-block .views-row-3 {
	border:none
}
.front #zone-preface-wrapper{
    background: url("../images/bg-blocks.png") repeat-x scroll 0 -70px #F2F2F2;

}
#region-content{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: -5px 0 6px 0 #CCCCCC;
    margin-bottom: 30px;
    margin-right: 20px;
    padding: 20px 40px;
    width: 540px;
}
.page-node-8 #region-content, .page-node-9 #region-content{
    width: 860px;
}
#region-content h1 {
    border-bottom: 1px dashed;
    font-family: 'UbuntuMedium';
    font-size: 40px;
    line-height: 1;
    padding-bottom: 10px;
}
#region-content h2 {
    font-family: 'UbuntuRegular';
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 10px;
}

.node-links ul li a {
    margin: 20px 0;
}
.blog_usernames_blog, .comment_forbidden{
	display:none !important;
}
#contact-form label {
    font-family: UbuntuMedium;
}
.page-node-9 #contact-form {
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    width: 50%;
}
.page-node-9 #page-title{
	display:none;
}
.iframe {
    margin-top: 20px;
}
#contact-form input[type="text"], #contact-form select, #contact-form .descripcion textarea {
    height: 30px;
    width: 205px;
}
.ie7 #contact-form input[type="text"], .ie7 #contact-form select {
    height: 22px;
    width: 189px;
}
#contact-form .mail input, #contact-form .descripcion textarea {
    width: 432px;
}
#contact-form .descripcion textarea {
    height: 100px !important;
}
#mapa {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    width: 40%;
}
@media screen and (max-width:960px){
#block-views-slideshow-homepage-block .views-field-body {
	float:none;
    margin: 0 auto;
    width: 76%;
}
#block-views-slideshow-homepage-block .views-field-field-imagen-slideshow {
    text-align: center;
}
#block-block-3 #column-1 .imagen, #block-block-3 #column-2 .imagen, #block-block-3 #column-3 .imagen{
	 background:none;	
	 width:auto;
	 height:auto;
}
#block-block-3 #column-1, #block-block-3 #column-2, #block-block-3 #column-3{
	 width:30%;
	 height:280px;
	 margin-right:10px;
}
#block-block-3 #column-3{
	 margin-right:0px;
}
img {
	max-width:100%;
}
#block-block-3 p {
    font-size: 12px;
    line-height: 1;
    margin: 0 40px 15px;
	width:auto
}
#region-branding .region-branding-inner{
    padding-bottom: 20px;
}
#block-views-noticias-block h2{
	background:url("../images/titulo-noticias.png") no-repeat scroll 270px center transparent;
}
#block-views-noticias-block .views-row-1{
    width: 100%;
}
#block-views-noticias-block .views-row-1 .views-field-title, #block-views-noticias-block .views-row-1 .views-field-body {
    text-align: center;
}
#block-views-noticias-block .views-row-2, #block-views-noticias-block .views-row-3{
	width:auto;
}
.copyright {
    width: 100%;
}
#block-block-5 .clear-block {
	width:276px
}
#region-sidebar-second {
    margin: 0;
    width: 220px;
}
#region-content {
    width: 380px;
}
#block-block-7 {
    background-clip: border-box;
    background-color: transparent;
    background-image: url("../images/image-formulario_en.png");
    background-origin: padding-box;
    background-position: -6px 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 288px;
    padding: 70px 28px 0 23px;
    position: relative;
    width: 168px;
}
#formulario input[type="text"], #formulario select, #formulario .descripcion textarea, #contact-form input[type="text"], #contact-form select, #contact-form .descripcion textarea {
    border: 1px solid #CCCCCC;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 4px 1px #CCCCCC;
    height: 24px;
    width: 100%;
}
#formulario .half {
    width: 48%;
}
#formulario .mail, #formulario .descripcion {
    width:100%
}
#formulario input[type="submit"] {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 0 0 18px 18px;
    bottom: 5px;
    height: 77px;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-indent: -999px;
    width: 209px;
}
#block-block-1 .logo {
    background: url("../images/logo.png") no-repeat scroll 0 20px transparent;
    margin-bottom: 0px;
    padding-top: 20px;
	margin-top:0
}
}
@media screen and (max-width:720px){

#block-system-main-menu ul li {
	width:100%;
}
#block-system-main-menu ul li a{
	text-align: center;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #000000;
}
#block-system-main-menu ul li.first a {
    background: url("../images/home.png") no-repeat scroll center center transparent;
    text-align: center;
	    border-top: none;
    text-indent: -9999px;
    width: auto;
}
#block-block-3 #column-1, #block-block-3 #column-2, #block-block-3 #column-3{
	width:96%;
	height:auto;
	margin-bottom:10px
}
img {
	width:100%;
}
#block-views-noticias-block .views-row .views-field-field-imagen{
	width:100%;
	float:none;
	height:auto
}
#block-views-noticias-block .views-row-1 img, #block-views-noticias-block .views-row-2 .views-field-field-imagen img, #block-views-noticias-block .views-row-3 .views-field-field-imagen img{
    border: 21px solid #E6E6E6;
    width: 88%;
	height:auto;
}
#block-views-noticias-block .views-row-1{
	border-bottom:1px dashed #999999;
    margin-bottom: 21px;
	height:auto
}
#block-views-noticias-block .views-row-2, #block-views-noticias-block .views-row-3{
	width:auto;
	height:auto;
}
#block-views-noticias-block .views-row-1 .views-field-field-imagen, #block-views-noticias-block .views-row-2 .views-field-field-imagen, #block-views-noticias-block .views-row-3 .views-field-field-imagen {
    background: url("../images/sombra-noticia-1.png") no-repeat scroll center bottom transparent;
    margin: 0 auto 10px;
    padding-bottom: 10px;
}
#region-content{
    padding: 20px;
    width: 86%;
	margin-right:0
}
#region-sidebar-second{
	width:100%
}
#block-block-7{
	background:none;
	width:100%;
	padding:0;
	height:auto;
}
#block-block-5 .clear-block {
	display:none
}
#formulario .half, #contact-form .half{
    margin-left: 10px;
    width: 45%;
}
#formulario input[type="text"], #formulario select, #formulario .descripcion textarea, #contact-form input[type="text"], #contact-form select, #contact-form .descripcion textarea{
	width:100%
}
#formulario  .mail, #formulario .descripcion{
	width:92%;
}
#block-block-5 .col2, #block-block-5 .col1 {
	width:100%
}
#block-block-7 h2{
    border-bottom: 1px dashed;
    display: block;
    font-family: 'UbuntuMedium';
    font-size: 30px;
    line-height: 1;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 10px;
}
#formulario input[type="submit"]{
    background: #FFFFFF repeat scroll 0 0 transparent;
    border-color: #DDDDDD #BBBBBB #999999;
    border-radius: 11px 11px 11px 11px;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    cursor: pointer;
    padding: 3px 10px 4px;
	position:inherit;
	text-indent:inherit;
	height:auto;
	text-shadow: 0 1px 1px #FFFFFF;
    width: auto;
	margin-left:10px;
	margin-bottom:20px
}
#block-block-3 h2{
	margin-left: 10px;
}
#block-block-3 p {
	margin: 0 10px 15px;
}
#views_slideshow_controls_text_previous_slideshow_homepage-block a, #views_slideshow_controls_text_next_slideshow_homepage-block a {
    background: url("../images/navegadores.jpg") no-repeat scroll left 0 / 70px 100px transparent;
    height: 100px;
    width: 30px;
}
#views_slideshow_controls_text_next_slideshow_homepage-block a {
    background-position: -38px 0;
}
#region-branding .region-branding-inner{
    padding-bottom: 10px;
}
/**/#block-block-2 .telefonos {
	float:none
}
#block-block-2 ul {
    margin: 0;
    padding: 0;
}
#block-block-1 .logo {
    margin: 20px auto;
}
#block-block-2 {
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
#block-block-1 .logo {
	background-position:0 20px;
    margin: 0 auto 20px;
    padding-top: 20px;
}
}
@media screen and (max-width:377px){
#block-block-5 .col2 h2 {
    width: 100%;
}
}
@media screen and (max-width:340px){
#block-block-2 .telefonos li.first {
    background: none no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    font-size: 22px;
    overflow: hidden;
	text-align:center;
    padding: 0;
    width: 100%;
}
#block-block-2{
	width:auto;
}
#block-block-2 .telefonos li.first:hover li{
	display:none;
}
}