#block-block-5 .imgse li {
	float: left;
	width: 74px;
}

#block-block-5 .imgse li a{
	width: 80px;
	margin-right:10px;
	height: 70px;
	text-decoration:none;
	position:relative;
	display:block;
	top: 3px;
	padding:0px;
}
#block-block-5 .img1 a {
	background: url("../images/imagen1.png") no-repeat scroll 0 0px transparent;		
}
#block-block-5 .img2 a {
	background: url("../images/imagen4.png") no-repeat scroll 4px 12px transparent;
}
#block-block-5 .img3 a {
	background: url("../images/imagen2.png") no-repeat scroll 4px 20px transparent;
}

#block-block-5 .img4 a {
	background: url("../images/imagen3.png") no-repeat scroll -11px  9px transparent;
}

#block-block-5 .img5 a {
	background: url("../images/imagen6.png") no-repeat scroll 4px  12px transparent;
}

#block-block-5 .img6 a {
	background: url("../images/imagen7.png") no-repeat scroll 4px  12px transparent;
}

#block-block-5 .clear-block{
	display:none;
	
}



#block-block-5 .col2 {
    padding-left: 81px;
    position: relative;
    top: 15px;
    width: 34%;
	float:left;
}


#block-block-5 p {
    color: #FFFFFF;
    float: none;
    font-size: 12px;
    left: -91px;
    line-height: 14px;
    margin:0px;
    position: relative;
}


#block-block-5 .col2 h2 {
    margin-bottom: 2px;
}


#block-block-5 .col1 {
  top:10px;
}
#zone-user-wrapper{
	position:relative;
	z-index:9;
	
}

#block-block-2{
	position:relative;
	right:25px;

	
}
